h1 {
  font-size: 40px;
  color:aqua ;
  font-family: sans-serif;
  text-decoration: line-through;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
}

p {
  color: rgb(11, 225, 101);
  font-family: sans-serif;
  line-height: 20px;
  font-weight: bold;
  text-align: justify;
  word-spacing: 5px;
  text-indent:  5px;
  

}